
<body>
  
  <h1>Hola Mundo</h1>
<input type="text" >
<button [disabled]="btnDisabled">Enviar</button>



<hr>
<p>Me llamo {{ persona.nombre }} tengo {{persona.edad}} </p>
<img [src]="img" height="150px">
<p>Edad</p>
<progress max="100" [value]="persona.edad"></progress>



<hr>
<h2>Eventos</h2>
<button (click)="toggleButton()">Change true/false</button>
<button (click)="toggleButtonAge()">Aumentar edad</button>
<button (click)="toggleButtonRestAge()">Restar edad</button>
<input type="text" value="rodrigo" (keyup) = "InputKeyUp($event)">



<hr>
<h2>ngModel</h2>
<!--https://platzi.com/clases/2478-angular/41044-data-binding-con-ngmodel/ -->
<input type="text" required #nameInput = ngModel [(ngModel)]="persona.nombre">
<input type="number" max="21" min="7" #ageInput = ngModel [(ngModel)]="persona.edad">
<p>Valid : {{nameInput.valid}} </p>
<p>Valid : {{ageInput.valid}} </p>



<hr>
<h2>ngIf</h2>
<input type="text"required  [(ngModel)]="persona.nombre">
<p *ngIf = "persona.nombre  === 'rodrigo' && persona.edad === 18 ; else myBlock">Soy rodrigo</p>
<ng-template #myBlock> 
  <p>Else block</p>
</ng-template>



<hr>
<h2>ngFor</h2>
<input type="text" required  [(ngModel)]="NewNames">
<button (click)="AddNewName()" *ngIf="NewNames.length > 2">Add</button>
<li *ngFor = "let name of names; index as i"> <!-- linea 16 de Component.ts -->
  {{i +1}}-{{name}}
  <button (click)="deleteUser(i)">Delete</button>
</li>
<li *ngIf="names.length === 0">No hay nombres</li>



<hr>
<h2>Mini practica tiendita</h2>
<p>Lista de objetos en la tiendita</p>
<p>nombre</p>
<input type="text" [(ngModel)]="productos.nombre">
<p>precio</p>
<input type="number" min="1" [(ngModel)]="productos.precio">
<p>existencias</p>
<input type="number" min="1" [(ngModel)]="productos.existencias">
<p>imagen</p>
<input type="text" min="1" [(ngModel)]="productos.image">
<button (click)="addProducts()">Añadir producto</button>


</body>



<div class="Principla_Div">
  <div class="HeaderDiv">
    <h1 class="hache1" >Ruso Store</h1> 
    <img height="70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
  </div>

<div class="Second_Div" >
  <div class="First_Secod_Div_Intern">
    <div class="Super_Second_Div_Intern">
      <img src="../assets/shop-svgrepo-com.svg" height="30px" alt="">
      <p class="P1">Ruso</p>
      <p class="P2">Store</p>
    </div>
    <div class="Super_third_Div_Intern">
      <button>All</button>
      <button disabled >Clothes</button>
      <button disabled>Food</button>
      <button disabled>Electronics</button>
    </div>
    <div class="Mygmail">
      <p>rodrigoibarramzt@gmail.com</p>
      <img height="30px" src="../assets/shopping-cart-svgrepo-com.svg" alt="">
    </div>
  </div>
  <div class="searcher">
    <div class="First_Intrern_Searcher">
      <input type="text">
      <img  height="30px" src="../assets/search-svgrepo-com.svg" alt="">
    </div>
  </div>
  <div class="Second_Div_Intern">
    <li class="LiContainer" *ngFor="let product  of ProductList; index as i">
      <img class="ProductImg" [src]="product.image" alt="">
      <div class="ArtDiv">
        <p>$ {{product.precio}}.00</p>
        <p>{{product.nombre}} </p>
        <p>Existencias: {{product.existencias}}</p>
      </div>
    </li>
  </div>
  </div>
</div>

